.transactionHistory_header {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(32, 32, 54, 0.09);
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 5px;
}

.dark .transactionHistory_header {
    background: linear-gradient(90deg, rgba(224, 224, 255, 0.067) 0%, rgba(224, 224, 255, 0.1) 100%);
    box-shadow: 0px 4px 10px rgba(32, 32, 54, 0.7);
}

.transactionHistory_toolbar {
    display: flex;
    align-items: center;

    height: 43px;
    padding: 8px;
    padding-bottom: 10px;
    /*padding-left: 24px;*/
}

.transactionHistory_h {
    color: var(--color-text);
    font-size: 20px;
    font-weight: var(--semi-bold);
    padding-left: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* TABLE */

.transactionHistory_table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: relative;
}

.transactionHistory_scrollContainer {
    width: 100%;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 0;

    padding-left: 12px;
    padding-right: 12px;
}


/* TABLE HEADER */

.transactionHistory_table-header {
    display: flex;
    align-items: center;
    height: 24px;

    font-size: 10px;
    font-weight: var(--medium);
    color: var(--color-text);
    margin-bottom: 6px;

    padding-left: 12px;
    padding-right: 20px;
}

.transactionHistory_table-headerCol {
    width: 40%;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.transactionHistory_table-headerCol-10 {
    width: 10%;
}

.transactionHistory_table-headerCol-right {
    justify-content: flex-end;
    padding-right: 10px;
}

.transactionHistory_table-headerCol:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.transactionHistory_table-headerCol.ascending:after {
    background-image: url("/img/dropdown.svg");
}

.dark .transactionHistory_table-headerCol.ascending:after {
    background-image: url("/img/dropdown_dark.svg");
}

.transactionHistory_table-headerCol.descending:after {
    background-image: url("/img/dropup.svg");
}

.dark .transactionHistory_table-headerCol.descending:after {
    background-image: url("/img/dropup_dark.svg");
}

/* TABLE ROW */

.transactionHistory_table-row {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 10px;
    font-weight: var(--medium);
    color: var(--color-text-second);
}

.transactionHistory_table-col {
    width: 40%;
}

.transactionHistory_table-col-10 {
    width: 10%;
}

.transactionHistory_table-col-right {
    text-align: right;
    padding-right: 26px;
}

.transactionHistory_table-col-white {
    color: var(--color-text);
}

.transactionHistory_table-col-yellow {
    color: #FFAA00;
}

.dark .transactionHistory_table-col-yellow {
    color: #EEFF00;
}
