.dashboard_wallets {
    padding-top: 6px;
    flex-shrink: 0;
}

.dashboard_wallets-header {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding-left: 24px;
    padding-right: 24px;
}

.dashboard_wallets-h {
    color: var(--color-text);
    font-size: 20px;
    font-weight: var(--semi-bold);
}

.btn-lite.dashboard_walletsAddBtn {
    padding-left: 8px;
    padding-right: 16px;
    margin-left: 50px;
}

.dashboard_walletsContainer {
    display: flex;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 15px;
}