.tradeHistory_container {
    display: flex;
    flex-direction: column;
}

/* TOOLBAR */

.tradeHistory_toolbar {
    display: flex;
    align-items: center;

    height: 43px;
    padding: 8px;
    padding-bottom: 10px;
    margin-bottom: 5px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(32, 32, 54, 0.09);
    border-radius: 4px 4px 0px 0px;
}

.dark .tradeHistory_toolbar {
    background: linear-gradient(90deg, rgba(224, 224, 255, 0.067) 0%, rgba(224, 224, 255, 0.1) 100%);
    box-shadow: 0px 4px 10px rgba(32, 32, 54, 0.7);
}

.tradeHistory_toolbar .btn-group-container {
    margin-right: 23px;
}

.tradeHistory_toolbar-dateSeparator {
    width: 12px;
    height: 1px;
    border-top: 1px solid var(--color-text-grey);
    margin-left: 2px;
    margin-right: 2px;
}

.tradeHistory_toolbar-currencySeparator {
    margin-left: 4px;
    margin-right: 4px;
    color: var(--color-text-grey);
}

.tradeHistory_toolbar-fromCurrencySelect {
    margin-left: 8px;
}

.tradeHistory_toolbar-statusSelect {
    margin-left: 8px;
}

/* TABLE */

.tradeHistory_table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.tradeHistory_scrollContainer {
    width: 100%;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 0;

    padding-left: 12px;
    padding-right: 12px;
}

/* TABLE HEADER */

.tradeHistory_table-header {
    display: flex;
    align-items: center;
    height: 24px;

    font-size: 10px;
    font-weight: var(--medium);
    color: var(--color-text);
    margin-bottom: 6px;

    padding-left: 12px;
    padding-right: 20px;
}

.tradeHistory_table-headerCol {
    width: 14%;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.tradeHistory_table-headerCol.tradeHistory_subTable-headerCol {
    width: 20%;
}

.tradeHistory_table-headerCol-right {
    justify-content: flex-end;
    padding-right: 10px;
}

.tradeHistory_table-headerCol:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tradeHistory_table-headerCol.ascending:after {
    background-image: url("/img/dropdown.svg");
}

.dark .tradeHistory_table-headerCol.ascending:after {
    background-image: url("/img/dropdown_dark.svg");
}

.tradeHistory_table-headerCol.descending:after {
    background-image: url("/img/dropup.svg");
}

.dark .tradeHistory_table-headerCol.descending:after {
    background-image: url("/img/dropup_dark.svg");
}

/* TABLE ROW */

.tradeHistory_table-rowWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tradeHistory_table-row {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 10px;
    font-weight: var(--medium);
    color: var(--color-text-second);
    cursor: pointer;
}

.tradeHistory_table-col {
    width: 14%;
}

.tradeHistory_table-col-right {
    text-align: right;
    padding-right: 26px;
}

.tradeHistory_table-col-white {
    color: var(--color-text);
}

.status-filled {
    color: #FFAA00;
}

.dark .status-filled {
    color: #EEFF00;
}

.status-new {
    color: #16B862;
}

.dark .status-new {
    color: #00FFAA;
}

.status-cancelled {
    color: #F54562;
}

.dark .status-cancelled {
    color: #FF00AA;
}

.btn-group-container_buttons {
    background: rgba(224, 224, 255, 0.02);
    border-radius: 2px;
    padding: 2px;
}

/* SUB TABLE ROW */

.tradeHistory_subTable {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.tradeHistory_subTable-scrollContainer {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
}

.tradeHistory_subTable-row {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 10px;
    font-weight: var(--medium);
    color: var(--color-text-second);
}

.tradeHistory_subTable-col {
    width: 20%;
}

.tradeHistory_subTable-col-right {
    text-align: right;
    padding-right: 26px;
}

.tradeHistory_toolbar .btn-group-container .btn:hover {
    opacity: 0.7;
}

/* MOBILE */

@media (max-width: 800px) {
    .tradeHistory_container {
        height: 100vh;
    }
}

@media (max-width: 1200px) {
    .tradeHistory_table-header {
        display: none;
    }

    .tradeHistory_toolbar {
        height: auto;
        flex-direction: column;
    }

    .tradeHistory_scrollContainer {
        padding-top: 20px;
    }

    .tradeHistory_toolbar .btn-group-container {
        width: 100%;
        margin-right: 0;
    }

    .tradeHistory_toolbar .btn-group-container .btn {
        flex-grow: 1;
    }

    .tradeHistory_toolbar .react-datepicker-component {
        flex-grow: 1;
    }


    .tradeHistory_toolbar-fromCurrencySelect {
        margin-left: 0;
    }

    .tradeHistory_table-col-right, .tradeHistory_subTable-col-right  {
        text-align: left;
        padding-right: 0;
    }

    .tradeHistory_table-row, .tradeHistory_subTable-row {
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 32px;
        position: relative;
    }

    .tradeHistory_table-col, .tradeHistory_subTable-col {
        width: 100%;
        font-size: 14px;
    }

    .tradeHistory_table-colSell {
        font-size: 16px;
    }

    .tradeHistory_table-colCurrency {
        font-size: 16px;
        position: absolute;
        width: auto;
        left: 33%;
        top: 0;
        color: var(--color-text);
    }

    .tradeHistory_table-colDate {
        position: absolute;
        width: auto;
        right: 0;
        top: 32px;
        max-width: 120px;
        text-align: right;
    }

    .tradeHistory_table-colStatus {
        position: absolute;
        width: auto;
        right: 0;
        top: 0;
    }

    .tradeHistory_table-colAmount {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .tradeHistory_table-colAmount:before {
        content: 'Amount';
        color: var(--color-text);
        width: 33%;
        display: inline-block;
    }

    .tradeHistory_table-colPrice {
        margin-bottom: 8px;
    }

    .tradeHistory_table-colPrice:before {
        content: 'Price';
        color: var(--color-text);
        width: 33%;
        display: inline-block;
    }

    .tradeHistory_table-colTotal{
    }

    .tradeHistory_table-colTotal:before {
        content: 'Total';
        color: var(--color-text);
        width: 33%;
        display: inline-block;
    }

    .tradeHistory_table-colExchange:before {
        content: 'Exchange';
        color: var(--color-text);
        width: 33%;
        display: inline-block;
    }
}

@media (min-width: 1600px) {
    .tradeHistory_toolbar {
        padding: 24px;
        height: 82px;
    }

    .tradeHistory_select {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        padding: 6px 36px 6px 12px;
    }

    .tradeHistory_toolbar-fromCurrencySelect {
        margin-left: 16px;
    }

    .tradeHistory_toolbar-statusSelect {
        margin-left: 16px;
    }

    .tradeHistory_table-header {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        padding: 16px 25px;
    }

    .tradeHistory_table-headerCol-right {
    }
}
