.root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 4px;
    width: auto;
    height: 100%;

    background-color: var(--bg-group-color);
    border-radius: 4px;

    box-shadow: 0px 2px 4px rgba(20, 16, 41, 0.06), 0px 0px 1px rgba(20, 16, 41, 0.12);
}

:global(.dark) .root {
    box-shadow: 0px 2px 4px rgba(32, 32, 54, 0.06), 0px 0px 1px rgba(32, 32, 54, 0.12);
}

.table {
    width: 100%;
    flex-grow: 1;
    margin-top: 12px;

    display: flex;
    flex-direction: column;
}

.scrollContainer {
    width: 100%;

    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 0;

    padding-left: 33px;
    padding-right: 24px;
    padding-bottom: 12px;
}

.row {
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 14px;
}

.header {
    display: flex;
    align-items: center;
    height: 32px;

    padding-left: 33px;
    padding-right: 32px;
    margin-bottom: 7px;
}

.headerCol {
    width: 12.5%;
    font-size: 14px;
    font-weight: var(--medium);
    color: var(--color-text);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.headerCol:hover {
    opacity: 0.7;
}

.headerColRight {
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    display: flex;
    width: 12.5%;
    font-size: 14px;
}

.headerCol:after, .headerColRight:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.colToken {
    width: 12.5%;
    font-weight: var(--semi-bold);
    color: var(--color-text);
    display: flex;
    align-items: center;
}

.colToken .icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.colWallet {
    width: 12.5%;
    padding-right: 20px;
    text-align: right;
    font-weight: var(--medium);
    color: var(--color-text-second);
}

.colContract {
    width: 12.5%;
    padding-right: 20px;
    text-align: right;
    font-weight: var(--medium);
    color: var(--color-text-second);
}

.colInOrder {
    width: 12.5%;
    padding-right: 20px;
    text-align: right;
    font-weight: var(--medium);
    color: var(--color-text-second);
}

.colActions {
    width: 40%;

    display: flex;
    align-items: center;
}

.colActionsBtn {
    margin-right: 6px;
    margin-top: 6px;
    padding-left: 8px;
    padding-right: 16px;
    background-color: transparent;
}

.colActionsBtn:last-child {
    margin-right: 0;
}

:global(.dark) .colActionsBtn {
    background-color: rgba(224, 224, 255, 0.02);
}


.info {
    height: 82px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(32, 32, 54, 0.08);

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-left: 33px;
    padding-right: 24px;
}

:global(.dark) .info {
    background: linear-gradient(90deg, rgba(224, 224, 255, 0.067) 0%, rgba(229, 224, 255, 0.1) 100%);
    box-shadow: 0px 4px 10px rgba(32, 32, 54, 0.7);
}

.infoHeader {
    flex-shrink: 1;

    color: var(--color-text);
    font-size: 16px;
    font-weight: var(--bold);
}

.infoList {
    flex-shrink: 0;
    list-style: none;
    margin-right: auto;
}

.infoList li {
    color: var(--color-text-second);
    font-size: 10px;
    font-weight: var(--medium);
    margin-top: 4px;
    margin-bottom: 4px;
}

.infoList li:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--blue);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.infoBtn {
    flex-shrink: 0;
}

.colText {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-text);
}

.tableControls {
    display: flex;
    padding-top: 16px;
    width: 340px;
    padding-left: 33px;
    padding-right: 32px;
}

.checkboxLabel {
    white-space: nowrap;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-text);
}

.hideZeroCb {
    align-items: center;
}

.searchInput {
    margin-left: 24px;
    width: 205px;
}

.searchInput input {
    background: rgba(20, 16, 41, 0.02);
}

:global(.dark) .searchInput input {
    background: rgba(224, 224, 255, 0.02);
}

.actionIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

@media (max-width: 1200px) {
    .colWallet, .colInOrder {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .colText {
        position: static;
    }

    .header {
        display: none;
    }

    .scrollContainer {
        padding-top: 30px;
    }

    .row {
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .col {
        width: 100%;
        margin-bottom: 8px;
        position: relative;
    }

    .colToken {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .colText {
        display: block;
    }

    .colActionsBtn {
        flex-grow: 1;
        font-size: 12px;
        background-color: #F9F9F9;
    }

    .actionIcon {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 1000px) {
    .info {
        display: none;
    }
}


@media (max-width: 800px) {
    .table {
        height: auto;
    }

    .scrollContainer {
        overflow-y: auto;
        height: auto;
        padding-left: 18px;
        padding-right: 18px;
    }
}
