#leftSidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 72px;
    height: 100%;
    background-color: var(--bg-group-color);

    padding-top: 20px;
    padding-bottom: 20px;

    overflow: hidden;

    transition: width 0.2s ease-in-out;
    z-index: 100;

    box-shadow: 0 8px 8px rgba(20, 16, 41, 0.06), 0 2px 4px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12);
}

#leftSidebar.open {
    width: 310px;
}

#leftSidebar_content {
    width: 310px;
    max-width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#leftSidebar_logo {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/logo.svg");
    cursor: pointer;

    margin-left: 20px;
    margin-bottom: 40px;
    flex-shrink: 0;
}

#leftSidebar_themeSwitch {
}


#leftSidebar_addWalletBg {
    display: inline-block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 24px;

    /*background: linear-gradient(135deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);*/
    /*box-shadow: 0 8px 12px rgba(0, 187, 255, 0.24), 0 2px 4px rgba(10, 70, 82, 0.12), 0 0 1px rgba(0, 187, 255, 0.24);*/
}

#leftSidebar_addWalletIcon {
    width: 48px;
    height: 48px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}



#leftSidebar_themeSwitchIconBg {
    display: inline-block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 16px;
    margin-left: 10px;
    margin-right: 24px;
}

#leftSidebar_themeSwitchIcon {
    width: 16px;
    height: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.leftSidebar_btn {
    height: 48px;
    width: 294px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
    border-left: 2px solid transparent;

    font-size: 16px;
    font-weight: 600;

    color: var(--color-text-second);
}

.leftSidebar_btn:hover {
    opacity: 0.7;
}

.leftSidebar_btnIcon {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;

    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

    margin-left: 10px;
    margin-right: 24px;
}

.leftSidebar_btn.selected {
    color: var(--blue);
}

.leftSidebar_btn.selected .leftSidebar_btnIcon {
    background-color: var(--bg-lite-blue);
}

.open .leftSidebar_btn.selected .leftSidebar_btnIcon {
    background-color: transparent;
}

.open .leftSidebar_btn.selected {
    border-left: 2px solid var(--blue);

    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: var(--bg-lite-blue);
}

.leftSidebar_separator {
    height: 72px;
}

/* ICONS */

#leftSidebar_themeSwitchIcon {
    background-image: url("/img/left/theme.svg");
}

.dark #leftSidebar_themeSwitchIcon {
    background-image: url("/img/left/dark/theme.svg");
}

#leftSidebar_addWalletIcon {
    background-image: url("/img/wallet.svg");
}

.dark #leftSidebar_addWalletIcon {
    background-image: url("/img/wallet_dark.svg");
}

.icon-trade {
    background-image: url("/img/left/trade.svg");
}

.leftSidebar_btn.selected .icon-trade {
    background-image: url("/img/left/trade_select.svg");
}

.dark .icon-trade {
    background-image: url("/img/left/dark/trade.svg");
}

.dark .leftSidebar_btn.selected .icon-trade {
    background-image: url("/img/left/dark/trade_select.svg");
}

.icon-swap {
    background-size: 40%;
    background-image: url("/img/left/swap.svg");
}

.leftSidebar_btn.selected .icon-swap {
    background-image: url("/img/left/swap_selected.svg");
}

.dark .icon-swap {
    background-image: url("/img/left/dark/swap.svg");
}

.dark .leftSidebar_btn.selected .icon-swap {
    background-image: url("/img/left/dark/swap_selected.svg");
}

.icon-dashboard {
    background-image: url("/img/left/dashboard.svg");
}

.leftSidebar_btn.selected .icon-dashboard {
    background-image: url("/img/left/dashboard_select.svg");
}

.dark .icon-dashboard {
    background-image: url("/img/left/dark/dashboard.svg");
}

.dark .leftSidebar_btn.selected .icon-dashboard {
    background-image: url("/img/left/dark/dashboard_select.svg");
}

.icon-history {
    background-image: url("/img/left/history.svg");
}

.leftSidebar_btn.selected .icon-history {
    background-image: url("/img/left/history_select.svg");
}

.dark .icon-history {
    background-image: url("/img/left/dark/history.svg");
}

.dark .leftSidebar_btn.selected .icon-history {
    background-image: url("/img/left/dark/history_select.svg");
}

.leftSidebar_btnIcon.icon-btc {
    background-image: url("/img/icons_currency_black/bitcoin.svg");
    opacity: 0.4;
}

.dark .leftSidebar_btnIcon.icon-btc {
    background-image: url("/img/icons_currency_grey/bitcoin.svg");
    opacity: 0.4;
}

.leftSidebar_btnIcon.icon-eth {
    background-image: url("/img/icons_currency_black/eth.svg");
    opacity: 0.4;
}

.dark .leftSidebar_btnIcon.icon-eth {
    background-image: url("/img/icons_currency_grey/eth.svg");
    opacity: 0.4;
}

.leftSidebar_btnIcon.icon-dash {
    background-image: url("/img/icons_currency_black/Combined Shape.svg");
    opacity: 0.4;
}

.dark .leftSidebar_btnIcon.icon-dash {
    background-image: url("/img/icons_currency_grey/Combined Shape.svg");
    opacity: 0.4;
}

@media (max-width: 800px) {
    #leftSidebar_logo {
        visibility: hidden;
    }
}
