@import "./scrollbars.css";
@import "./icons.css";
@import "./calendar.css";
@import "./loading.css";

:root {
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;

    --blue: #00BBFF;
    --red: #ff0000;

    --bg-main-color: #FAFAFB;
    --bg-group-color: #FFF;
    --bg-lite-blue: #EFFAFE;

    --color-text: #424052;
    --color-text-second: #72707E;
    --color-text-grey: #A09FA8;
    --color-text-error: #F54562;

    --font-10: 10px;
    --font-11: 11px;
    --font-14: 14px;
    --font-16: 16px;
}

.dark {
    --bg-main-color: #191929;
    --bg-group-color: #2A2A3F;
    --bg-lite-blue: #2A2D45;

    --color-text: #fff;
    --color-text-second: #9797B1;
    --color-text-grey: #73738B;
    --color-text-error: #ff00aa;
}

.wide {
    --font-10: 14px;
    --font-11: 16px;
    --font-14: 22px;
    --font-16: 24px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;
    color: white;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body.swal2-shown.swal2-height-auto {
    height: 100% !important;
}

.group {
    background-color: var(--bg-group-color);
    border-radius: 4px;

    box-shadow: 0px 2px 4px rgba(20, 16, 41, 0.06), 0px 0px 1px rgba(20, 16, 41, 0.12);
}

.dark .group {
    box-shadow: 0px 2px 4px rgba(32, 32, 54, 0.06), 0px 0px 1px rgba(32, 32, 54, 0.12);
}

a, a:hover, a:active, a:after {
    text-decoration: none;
}

select {
    padding-right: 20px;
}

option {
    background-color: var(--bg-group-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#mainContainer {
    width: 100%;
    height: 100%;
    background-color: var(--bg-main-color);
}

#modalContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 16, 41, 0.06);
    z-index: 1000;

    -webkit-transform: scale(1.15);
    transform: scale(1.15);

    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);

    opacity: 0;
    will-change: transform, opacity;
    pointer-events: none;
}

#modalContainer.visible-no-anim {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);

    -webkit-transition: opacity 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: opacity 0.15s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

#modalContainer.visible {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);

    /* Появление медленнее чем скрытие, поэтому переопределяем transition */
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.dark #modalContainer {
    background-color: rgba(32, 32, 54, 0.8);
}

#main {
    width: 100%;
    height: 100%;
    padding: 8px;
    padding-left: 80px;
    display: flex;
}

/* BTN-LITE */

.btn-lite {
    line-height: 36px;
    font-size: 14px;
    font-weight: var(--medium);

    color: var(--color-text);
    background-color: #F9F9F9;

    border-radius: 2px;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-lite:hover {
    opacity: 0.7;
}

.dark .btn-lite {
    background-color: #2E2E43;
}

.btn-lite .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* BTN-BORDER */

.btn-border {
    line-height: 34px;
    font-size: 14px;
    font-weight: var(--medium);

    padding-left: 21px;
    padding-right: 21px;

    background: transparent;
    color: var(--color-text);
    border: 1px solid #A09FA8;
    border-radius: 2px;
    cursor: pointer;

    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
}

.btn-border:hover {
    opacity: 0.7;
}

.dark .btn-border {
    border: 1px solid #9797B3;
}

/* BTN EMPTY */

.btn-empty {
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;

    font-size: 14px;
    font-weight: var(--medium);
    color: var(--color-text-second);
}

.btn-empty:hover {
    opacity: 0.7;
}

/* GRID */

.trade-col-left, .trade-col-middle, .trade-col-right,
.col-dashboard-left, .col-dashboard-right, .col, .col-25, .col-50, .col-75 {
    display: flex;
    flex-direction: column;
}

.col-25 {
    width: 25%;
    flex-shrink: 0;
}

.col-dashboard-left {
    width: 280px;
}

.col-dashboard-right {
    width: calc(100% - 280px)
}

.col-50 {
    width: 50%;
}

.col-75 {
    width: 75%;
}

.row-grow, .row-var, .row-50, .row-100 {
    width: 100%;
    padding: 4px;
}

.row-50 {
    height: 50%;
}

.row-100 {
    height: 100%;
}

.row-var {
    flex-shrink: 0;
}

.row-grow {
    flex-grow: 1;
}

.group {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grow {
    flex-grow: 1;
}

/* TABS */

.tabs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab {
    text-align: center;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: var(--font-14);
    font-weight: var(--semi-bold);
    color: var(--color-text-second);
    border-bottom: 1px solid #F1F1F2;
}

.tab:hover {
    opacity: 0.7;
}

.dark .tab {
    border-bottom: 1px solid #35354A;
}

.tab.selected {
    color: var(--blue);
    background-color: #EFFAFE;
    border-bottom: 1px solid var(--blue);
}

.dark .tab.selected {
    background-color: #29334C;
}

.tabs-container .tab:first-child {
    border-top-left-radius: 4px;
}

.tabs-container .tab:last-child {
    border-top-right-radius: 4px;
}

/* BTN GROUP */

.btn-group-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-group-container .btn {
    background: #FAFAFB;
    border-radius: 2px;

    color: var(--color-text-second);
    font-size: 10px;
    font-weight: var(--medium);
    text-align: center;
    line-height: 24px;

    padding-left: 23px;
    padding-right: 23px;

    -webkit-appearance: none;
    border: none;
    outline: none;

    cursor: pointer;
}

.btn-group-container .btn.selected {
    border-radius: 1px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(20, 16, 41, 0.06), 0px 0px 1px rgba(20, 16, 41, 0.12);
    color: var(--color-text);
}

.dark .btn-group-container .btn {
    background: #2E2E43;
}

.btn-group-container .btn:hover {
    opacity: 0.7;
}

.dark .btn-group-container .btn_transparent {
    background: transparent;
}

.dark .btn-group-container .btn.selected {
    background: linear-gradient(0deg, #33334B, #33334B), #27273E;
    box-shadow: 0px 5px 8px rgba(20, 16, 41, 0.24), 0px 2px 4px rgba(20, 16, 41, 0.24), 0px 0px 1px rgba(20, 16, 41, 0.4);
}

/* BTN */

.btn-primary {
    color: #fff;
    font-size: 14px;
    font-weight: var(--semi-bold);
    line-height: 36px;
    border-radius: 2px;

    border: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    background: linear-gradient(167.91deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
    box-shadow: 0px 8px 12px rgba(0, 187, 255, 0.24), 0px 2px 4px rgba(10, 70, 82, 0.12), 0px 0px 1px rgba(0, 187, 255, 0.24);
}

.btn-primary:hover {
    opacity: 0.7;
}

/* INPUT CONTAINER */

.input-container {
    width: 100%;
    position: relative;
    background: #FAFAFB;
    border: 1px solid #E4E4E5;
    border-radius: 2px;
}

.dark .input-container {
    background: #2E2E43;
    border: 1px solid #404054;
}

.input-container input {
    background: transparent;
    border: none;
    width: calc(100% - 40px);
}

.input-hit {
    position: absolute;
    top: 10px;
    right: 8px;
}

.btn-group-container .btn:hover {
    opacity: 0.7;
}

@media (max-width: 800px) {
    #leftSidebar {
        transform: translateX(-310px);
        transition: transform 0.2s ease-in !important;
    }

    #leftSidebar.open {
        transform: translateX(0);
    }

    #main {
        flex-direction: column;
        padding-left: 8px;
        padding-top: 62px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .row-var, .row-50, .row-100 {
        height: auto;
    }

    .trade-col-left, .trade-col-middle, .trade-col-right,
    .col-dashboard-left, .col-dashboard-right, .col, .col-25, .col-50, .col-75 {
        width: 100% !important;
        flex-shrink: 0;
        height: auto;
    }
}

@media screen and (min-width: 1600px) {
    .tab {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding: 12px 0 12px;
    }

    .btn-group-container .btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        padding: 8px;
        width: 50%;
    }
}
