.promptPopup {
    width: calc(100% - 20px);
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.promptPopup .popup_h {
    padding-left: 30px;
}

.promptPopup .popup_body {
    padding-left: 30px;
    padding-right: 30px;
}

.promptPopup_input {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 36px;
    font-size: var(--font-14);
    font-weight: var(--semi-bold);
}

.promptPopup .btn-primary {
    margin-top: 40px;
    width: 100%;
}